html{
    font-family: Verdana, sans-serif;
    --blue : #3333FF;
    --red : #FF0000;
    --green : #97D077;
}


.blue{
    color: var(--blue);
}

.red{
    color: var(--red);
}

.lecon{
    text-align: center;
}

.lecon ul{
    display: inline-block;
    text-align: left;
}

.lecon .image-container{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.lecon .image-container img{
    border : 2px black dashed;
    height: 120px;
}

