html{
    font-family: Verdana, sans-serif;
    --blue : #3333FF;
    --red : #FF0000;
    --green : #97D077;
}
* {
    margin: 0;
    padding: 0;
}
p{
    font-size: 20px;
}
h3{
    font-size: 26px;
}
.blue{
    color: var(--blue);
}

.red{
    color: var(--red);
}

.lecon{
    text-align: center;
    margin-bottom: 20px;
}

.lecon ul{
    display: inline-block;
    text-align: left;
}

.lecon .image-container{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.lecon .image-container img{
    border : 2px black dashed;
    height: auto;
    width: 120px;
}
.exercices{
    margin-bottom: 20px;
    padding: 10px;
}

.exercices h3{
    margin: 50px 0;
}

.exercices .question{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}


.exercices button{
    border: 2px black solid;
    border-radius: 50%;
    background: linear-gradient(white, var(--green));
    cursor: pointer;
    padding: 20px 40px;
    font-size: 20px;
    margin: 50px 0;
}

.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

header {
    overflow: hidden;
}

header a {
    float: left;
    font-size: 16px;
    color: var(--green);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    outline: none;
    color: var(--green);
    padding: 10px 50px;
    width: 250px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border: solid 1px black;
    font-weight: bold;
}

.dropdown .dropdown-content{
    width: 250px;
}

header a:hover, .dropdown:hover .dropbtn {
    background-color: var(--green);
    color: black;
    border: var(--green);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    font-weight: bold;
    border: 1px solid var(--green);
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.dropdown-content a:hover {
    background-color: var(--green);
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.phone{
    display: none;
}


@media screen and (max-width: 800px) {

    p{
        font-size: 16px;
    }

    h3{
        font-size: 20px;
    }
    .lecon .image-container{
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }
    .lecon p{
        width: 300px;
        margin: 20px auto;
    }

    .exercices .question{
        flex-direction: column;
        align-items: start;
        gap: 5px;
        width: 90%;
    }

    header{
        display: block;
        position: sticky;
        top : 0;
    }
    .dropdown{
        display: none;
    }

    .exercices button{
        padding: 10px 20px;
        font-size: 15px;
    }
    .phone{
        background-color: white;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .phone a{
        border: solid 2px black;
    }

}